/*colored bars*/
.bar-height{ height: 0.3rem;}

/*width*/
.max-width{max-width: 192rem;}

/*Margin*/
.mr-auto, .mx-auto{margin-right: auto;}
.ml-auto, .mx-auto{margin-left: auto;}

/* images */
.logo-width{max-width: 13rem;}

/* padding */
.p-4{padding: var(--distance-4);}
.p-5{padding: var(--distance-5);}
.p-6{padding: var(--distance-6);}
.p-8{padding: var(--distance-7);}
.p-12{padding: var(--distance-12);}
.p-15{padding: var(--distance-15);}